[gcode_macro M109]
rename_existing: M99109
description: This command optionally sets a new target hot end temperature and waits for the target temperature to be reached before proceeding
gcode:
    #Parameters
    {% set s = params.S|float %}
    STATUS_HEATING
 
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-2} MAXIMUM={s+5}   ; Wait for hotend temp (within n degrees)
    {% endif %}

[gcode_macro M190]
rename_existing: M99190
description: This command optionally sets a new target temperature for the heated bed and waits for the target temperature to be reached before proceeding
gcode:
    #Parameters
    {% set s = params.S|float %}
    STATUS_HEATING

    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   ; Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s-1} MAXIMUM={s+2}  ; Wait for bed temp (within n degrees)
    {% endif %}
