[gcode_macro M109]
rename_existing: M99109
description: This command optionally sets a new target hot end temperature and waits for the target temperature to be reached before proceeding
gcode:
    #Parameters
    {% set TEMP = params.S|float %}
    STATUS_HEATING
    # set pid profile for the temp
    {% if TEMP != 0 && TEMP <= 195 %}
      PID_PROFILE LOAD=195 HEATER=extruder
    {% elif (TEMP > 195) and (TEMP <= 210) %}
      PID_PROFILE LOAD=210 HEATER=extruder
    {% elif (TEMP > 215) and (TEMP <= 225) %}
      PID_PROFILE LOAD=225 HEATER=extruder
    {% elif (TEMP > 225) and (TEMP <= 240) %}
      PID_PROFILE LOAD=240 HEATER=extruder
    {% elif (TEMP > 240) and (TEMP <= 255) %}
      PID_PROFILE LOAD=255 HEATER=extruder
    {% elif (TEMP > 255) and (TEMP <= 270) %}
      PID_PROFILE LOAD=270 HEATER=extruder
    {% endif %}
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set hotend temp
    {% if TEMP != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={TEMP-2} MAXIMUM={TEMP+5}   ; Wait for hotend temp (within n degrees)
    {% endif %}

[gcode_macro M190]
rename_existing: M99190
description: This command optionally sets a new target temperature for the heated bed and waits for the target temperature to be reached before proceeding
gcode:
    #Parameters
    {% set TEMP = params.S|float %}
    STATUS_HEATING
    {% if TEMP <= 55 %}
      PID_PROFILE LOAD=55 HEATER=heater_bed
      BEACON_MODEL_SELECT NAME=55
    {% elif (TEMP > 55) and (TEMP <= 80) %}
      PID_PROFILE LOAD=80 HEATER=heater_bed
      BEACON_MODEL_SELECT NAME=80
    {% else %}
      PID_PROFILE LOAD=100 HEATER=heater_bed
      BEACON_MODEL_SELECT NAME=100
    {% endif %}
    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   ; Set bed temp
    {% if TEMP != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED-TEMP} MAXIMUM={TEMP+2}  ; Wait for bed temp (within n degrees)
    {% endif %}
