export BOARD=fysetc-spider-v1
export SERIAL=/dev/ttyAMA0
export USE_RPI=yes
export PRINTER=v24
export USE_USB=no
export INSTALL_AUTO_Z=n
export ${PRINTER}_INSTALL_CANBOOT=y
export ${PRINTER}_CANBOOT_DEVICE="2e8a:0003"
export ${PRINTER}_INSTALL_EXPANDER=y
export ${PRINTER}_EXPANDER_DEVICE="0483:df11"
