[include ./nozzle_wiper.cfg]            # nozzle_clean

[gcode_macro MESSAGE]
gcode:
  {% set msg = params.MSG %}
  RESPOND PREFIX= MSG="{msg}"
  M117 {msg}

#####################################################################
#	Macros
#####################################################################

[gcode_macro G32]
gcode:
  MESSAGE MSG="Homing and QGL..."
  BED_MESH_CLEAR
  CG28
  CQGL
 
# Conditional Homing
[gcode_macro CG28]
gcode:
  M109 S150  # Pre-heat nozzle for Voron Tap
  {% if "xyz" not in printer.toolhead.homed_axes %}
    STATUS_LEVELING
    G28
  {% endif %}

# Conditional QGL
[gcode_macro CQGL]
gcode:
  {% if printer.quad_gantry_level.applied == False %}
    STATUS_LEVELING
    CG28
    QUAD_GANTRY_LEVEL
    G28 Z
  {% endif %}
  G0 Z30 F3000
  G0 X150 Y150 F7200

[include KAMP_Settings.cfg]
[include TEST_SPEED.cfg]

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
  {% set e = params.E|default(15.1)|float %} #edit to your retract length
  {% set BED = params.BED|default(55)|float %}
  {% set EXTRUDER = params.EXTRUDER|default(200)|float %}
  {% set Z_OFFSET = params.Z_OFFSET|default(-0.00)|float %}
  {% set SPEED_PERC = params.SPEED_PERC|default(100)|int %}
  {% set FLOW_PERC = params.FLOW_PERC|default(100)|int %}
  {% set PA = params.PA|default(0.0240)|float %}
  {% set ST = params.ST|default(0.020)|float %}
  {% set DWELL = params.DWELL|default(10)|int %}  # In minute integers
  {% set DWELL_SECS = DWELL * 60 * 1000|int %}  # convert minutes to microseconds
  STATUS_HEATING
  MESSAGE MSG="Bed Heating..."
#  NEOPIXEL_DISPLAY LED=caselight TYPE=bed_temp MODE=progress

  M190 S{BED}   #  wait for the bed to reach temp
  _BED_FAN_SET
  {%if DWELL_SECS > 0 %}
  MESSAGE MSG="Heat Soak..."
  G4 P{DWELL_SECS} ; Wait 10 minutes for the bed to stabilise
    {% endif %}
  # Home the printer
  M109 S150     # pre-heat for TAP
  G32
  # Use absolute coordinates
  G21 ; set units to millimeters
  G90 ; use absolute coordinates

  G92 E0 ; Reset Extruder
  MESSAGE MSG="Bed Mesh..."
  STATUS_MESHING
  BED_MESH_CLEAR
  BED_MESH_CALIBRATE
  MESSAGE MSG="Extruder Heating..."
  G28 Z
  SMART_PARK
  STATUS_HEATING
  M109 S{EXTRUDER}
  CLEAN_NOZZLE CLEAN=1
  SET_GCODE_OFFSET Z_ADJUST={Z_OFFSET}
  STATUS_PRINTING
  MESSAGE MSG="Priming..."
  LINE_PURGE
  M220 S{SPEED_PERC}
  M221 S{FLOW_PERC}
  SET_PRESSURE_ADVANCE ADVANCE={PA} SMOOTH_TIME={ST}
  #M400
  G90 ; use absolute coordinates
  M83 ; use relative distances for extrusion

#  NEOPIXEL_DISPLAY LED=caselight TYPE=print_percent MODE=progress
  UPDATE_DELAYED_GCODE ID=_BED_FAN_MONITOR DURATION=1
  STATUS_PRINTING
  MESSAGE MSG="Printing..."

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    SAFE_Z_PARK
    TURN_OFF_HEATERS
    ; clean_nozzle
    ; G91                            ; relative positioning
    ; G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    M107
    BED_MESH_CLEAR
    MESSAGE MSG=""
    STATUS_HEATING

## 	Common Temperature Sensors
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"
##   "PT1000"
[gcode_macro dark_mode]
gcode:
    SET_LED LED=caselight GREEN=0 RED=0 BLUE=0  ; turn case light off
    set_nozzle_leds_off ; turn off SB nozzle Leds
    set_logo_leds_off ; turn off SB Logo Leds
    SET_LED LED=lcd RED=0 GREEN=0 BLUE=0 ; turn off LCD

[gcode_macro OFF]
gcode:
    M84                                  ; turn steppers off
    TURN_OFF_HEATERS                     ; turn bed / hotend off
    M107                                 ; turn print cooling fan off
    #SET_FAN_SPEED FAN=Exhaust SPEED=0   ; turn exhaust fan off
    #SET_FAN_SPEED FAN=BedFans SPEED=0   ; bed fan off
    dark_mode

[gcode_macro ON]
gcode:
  RESETRGB
  SET_LED LED=caselight GREEN=0.5 RED=0.5 BLUE=0.5
  set_nozzle_leds_on
  set_logo_leds_on

# Shutdown the rpi
[gcode_macro SHUTDOWN]
gcode:
    OFF
    M400                                              ; Shortcut to turn everything off (see above for this macro)
    {action_respond_info('action:poweroff')}          ; OctoPrint compatible host shutdown
    {action_call_remote_method("shutdown_machine")}   ; moonraker compatible host shutdown

[menu __main __control __shutdown]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Shut down
gcode:
  SHUTDOWN

[menu __main __setup __calib __qgl]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: QGL
gcode: QUAD_GANTRY_LEVEL

[menu __main __setup __calib __cqgl]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: CQGL
gcode: CQGL

[menu __main __control __clean_nozzle]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Clean Nozzle
gcode: CLEAN_NOZZLE

## Nevermore Menu
[menu __main __control __nevermoreonoff]
type: command
name: Nevermore {'ON' if printer['fan_generic filter'].speed > 0 else 'OFF'}
enable: {'fan_generic filter' in printer}
gcode:
    TOGGLE_NEVERMORE

[menu __main __control __filterspeed]
type: input
enable: {'fan_generic filter' in printer}
name: Filter %: {'%3d' % (menu.input*100)}%
input: {printer["fan_generic filter"].speed}
input_min: 0
input_max: 1
input_step: 0.1
gcode:
    SET_FAN_SPEED FAN=filter SPEED={menu.input}

[delayed_gcode filter_off]
gcode:
    SET_FAN_SPEED FAN=filter SPEED=0

[gcode_macro TOGGLE_NEVERMORE]
gcode:
    {% if printer['fan_generic filter'].speed > 0 %}
      SET_FAN_SPEED FAN=filter SPEED=0
    {% else %}
      SET_FAN_SPEED FAN=filter SPEED=1
    {% endif %}

## RGB
[menu __main __setup __calib __lightsoff]
type: command
name: Dark Mode
gcode: dark_mode


[gcode_macro LCDRGB]
gcode:
    {% set r = params.R|default(1)|float %}
    {% set g = params.G|default(1)|float %}
    {% set b = params.B|default(1)|float %}

    SET_LED LED=lcd RED={r} GREEN={g} BLUE={b} INDEX=1 TRANSMIT=0
    SET_LED LED=lcd RED={r} GREEN={g} BLUE={b} INDEX=2 TRANSMIT=0
    SET_LED LED=lcd RED={r} GREEN={g} BLUE={b} INDEX=3

[gcode_macro RESETRGB]
gcode:
    SET_LED LED=lcd RED=1 GREEN=0.45 BLUE=0.4 INDEX=1 TRANSMIT=0
    SET_LED LED=lcd RED=0.25 GREEN=0.2 BLUE=0.15 INDEX=2 TRANSMIT=0
    SET_LED LED=lcd RED=0.25 GREEN=0.2 BLUE=0.15 INDEX=3

[delayed_gcode SETDISPLAYNEOPIXEL]
initial_duration: 1
gcode:
    RESETRGB

# [gcode_macro _CASELIGHT_ON]
# description: Helper: Light on
# gcode:
#   SET_PIN PIN=caselight VALUE=0.4
#   {action_respond_info("Caselight on")}
#
# [gcode_macro _CASELIGHT_OFF]
# description: Helper: Light off
# gcode:
#   SET_PIN PIN=caselight VALUE=0.0
#   {action_respond_info("Caselight off")}
#
# [gcode_macro CASELIGHT]
# description: Toggle light
# gcode: {% if printer['output_pin caselight'].value == 0 %} _CASELIGHT_ON {% else %} _CASELIGHT_OFF {% endif %}

## [gcode_macro EXCITATE_AXIS_AT_FREQ]
## description: Maintain a specified input shaper excitating frequency for some time to diagnose vibrations
## gcode:
##    {% set FREQUENCY = params.FREQUENCY|default(25)|int %}
##    {% set TIME = params.TIME|default(10)|int %}
##    {% set AXIS = params.AXIS|default("x")|string|lower %}
##
##    TEST_RESONANCES OUTPUT=raw_data AXIS={AXIS} FREQ_START={FREQUENCY-1} FREQ_END={FREQUENCY+1} HZ_PER_SEC={1/(TIME/3)}
##    M400
