[mcu rpi]
serial: /tmp/klipper_host_mcu

#[adxl345]
#cs_pin: rpi:None

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    60,60,40

[input_shaper]
shaper_freq_x: 116.6
shaper_type_x: ei # 0.029 smoothing at damping ratio 0.037, 108.1 Hz
shaper_freq_y: 77.4 
shaper_type_y: ei # 0.057 smoothing at damping ratio 0.044, 65.8 Hz

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100
