[mcu ampon]
serial: /dev/serial/by-id/usb-Anchor_Ampon-if00
is_non_critical: True

[adxl345 hotend]
cs_pin: ampon:CS
axes_map: x, y, -z

# compiled on the pi. klipper.u2f copied to windows. Bootsel and copy to D:
[mcu usbbed]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6625887D3878537-if00
is_non_critical: True

[adxl345 bed]
cs_pin: usbbed:gpio9
spi_software_sclk_pin: usbbed:gpio10
spi_software_mosi_pin: usbbed:gpio11
spi_software_miso_pin: usbbed:gpio12
axes_map: x, y, -z

[resonance_tester]
accel_chip_x: adxl345 hotend
accel_chip_y: adxl345 bed
probe_points:
    125,117,40

[include shaketune.cfg]
