[mcu]
##	MCU for X/Y/E steppers main MCU
##	[X in X] - B Motor
##	[Y in Y] - A Motor
##	[E in E0] - Extruder
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
#serial: /dev/serial/by-id/usb-Klipper_lpc1768_00000-if00
serial: /dev/serial/by-id/usb-Klipper_lpc1768_0CF0FF0F48104AAF82AA675DC32000F5-if00
##--------------------------------------------------------------------

#[output_pin LIGHTS]
#pin: PC12
#value: 0
#shutdown_value: 0

[printer]
kinematics: corexz
max_velocity: 200  
max_accel: 1000    			#Max 4000
max_z_velocity: 50 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 1000
square_corner_velocity: 4.0

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

[stepper_x]
enable_pin: !P2.1
step_pin: P2.2
dir_pin: P2.6
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200
endstop_pin: P1.28
position_endstop: 250
position_min: 0
position_max: 250
homing_speed: 70
homing_positive_dir: true
#homing_retract_dist: 5

[tmc2209 stepper_x]
uart_pin: P1.17
interpolate: True
run_current: 0.5
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_y]
enable_pin: !P2.8
step_pin: P0.19
dir_pin: P0.20
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: P1.26
position_endstop: 250
position_min: 0
position_max: 250
homing_speed: 70
homing_positive_dir: true
#homing_retract_dist: 5

[tmc2209 stepper_y]
uart_pin: P1.15
interpolate: True
run_current: 0.5
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 0
 
[stepper_z]
enable_pin: !P0.21
step_pin: P0.22
dir_pin: P2.11 # remove ! to change direction
rotation_distance: 40
microsteps: 16
endstop_pin: probe:z_virtual_endstop
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
##	Uncomment below for 250mm build
position_max: 250
position_min: -3
homing_speed: 40
#second_homing_speed: 3
#homing_retract_dist: 3

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: P1.10
interpolate: true
run_current: 0.5
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 0

[homing_override]
axes: z
set_position_z: 0
gcode:
  G90
  G0 Z5 F500
  G28 X0 Y0
  G0 X125 Y100 F9000
  G28 Z0
  G0 Z5 F500

[bed_mesh]
speed: 150
horizontal_move_z: 5
mesh_min: 25,35.0
mesh_max: 225.0,220
probe_count: 6,6
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[screws_tilt_adjust]
# SW Nylock Mod: Screw 1 uses the 6mm metallic spacer so its
# height is considered the baseline. For tilt adjust using the
# command SCREWS_TILT_CALCULATE, this has to be your Screw 1:
#
#         ******************
#         * S7    S8    S9 *
#         *                *
#   Bed:  * S5    S1    S6 *
#         *                *
#         * S2    S3    S4 *
#         ******************
#
screw1: 128,110
screw1_name: center
screw2: 18,5
screw2_name: front_left
screw3: 128,5
screw3_name: front_center
screw4: 233,5
screw4_name: front_right
screw5: 18,110
screw5_name: middle_left
screw6: 233,110
screw6_name: middle_right
screw7: 18,215
screw7_name: rear_left
screw8: 128,215
screw8_name: rear_center
screw9: 233,215
screw9_name: rear_right
horizontal_move_z: 10.
speed: 50.
screw_thread: CCW-M3


[probe]
pin: ^P1.24
x_offset: 0.0
y_offset: 25.0
z_offset: 1.85
speed: 40

[extruder]
enable_pin: !P2.12
step_pin: P2.13
dir_pin: P0.11
##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 22.6789511	#Bondtech 5mm Drive Gears
##	Update Gear Ratio depending on your Extruder Type
##	Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##	Use 80:20 for M4, M3.1
gear_ratio: 50:17
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
##	Validate the following thermistor type to make sure it is correct
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.24
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
control = pid
pid_kp = 26.213
pid_ki = 1.304
pid_kd = 131.721
min_temp: 10
max_temp: 260
##	Try to keep pressure_advance below 1.0
#pressure_advance: 0.05
##	Default is 0.040, leave stock
#pressure_advance_smooth_time: 0.040

##	E0 on MCU X/Y
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: P1.8
interpolate: false
run_current: 0.5
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - Z board, Fan Pin
heater_pin: P2.5
sensor_type: NTC 100K beta 3950
sensor_pin: P0.23
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769
min_temp: 10
max_temp: 120

#####################################################################
# 	Probe
#####################################################################

[probe]
##	Inductive Probe
##	This probe is not used for Z height, only Quad Gantry Leveling
##	Z_MAX on mcu_z
##	If your probe is NO instead of NC, add change pin to !z:P1.24
pin: P1.24
x_offset: 0
y_offset: 25.0
z_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

#####################################################################
# 	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - XYE board, HE1 Connector
pin: P2.4
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[fan]
##	Print Cooling Fan - XYE board, Fan Pin
pin: P2.3
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

#[heater_fan controller_fan]
##	Controller fan - Z board, HE1 Connector
#pin: z:P2.4
#kick_start_time: 0.5
#heater: heater_bed
#heater_temp: 45.0

#[heater_fan exhaust_fan]
##	Exhaust fan - Z board, HE0 Connector
#pin: z:P2.7
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

[idle_timeout]
timeout: 1800

#####################################################################
# 	Displays
#####################################################################

[display]
#	mini12864 LCD Display
lcd_type: uc1701
cs_pin: P1.18
a0_pin: P1.19
encoder_pins: ^P3.25,^P3.26
click_pin: ^P0.28
contrast: 63

[neopixel fysetc_mini12864]
#	To control Neopixel RGB in mini12864 display
pin: P1.21
chain_count: 3
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

##	Set RGB values on boot up for each Neopixel. 
##	Index 1 = display, Index 2 and 3 = Knob

[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
  SET_LED LED=fysetc_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
  SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
  SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3

[display_status]

[virtual_sdcard]
path: ~/gcode_files

[pause_resume]
recover_velocity: 50.

# Reference https://github.com/KevinOConnor/klipper/blob/master/docs/Config_Reference.md#gcode_macroA
# On how to override default parameters
[gcode_macro START_PRINT]
gcode:
  {% set e = params.E|default(3-0.1)|float %} #edit to your retract length
  {% set BED_TEMP = params.BED_TEMP|default(55)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
  {% set Z_OFFSET = params.Z_OFFSET|default(-0.03)|float %}
  {% set SPEED_PERC = params.SPEED_PERC|default(100)|int %}
  {% set FLOW_PERC = params.FLOW_PERC|default(100)|int %}
  # Use absolute coordinates
  G21 ; set units to millimeters
  G90
  # Wait for bed to reach temperature
  M190 S{BED_TEMP}
  # start the extruder heating
  M104 S{EXTRUDER_TEMP}
  # Home the printer
  G28
  # Reset the G-Code Z offset (adjust Z offset if needed)
  # SET_GCODE_OFFSET Z=-0.04
  # Set and wait for nozzle to reach temperature
  # Override TEMP
  M109 S{EXTRUDER_TEMP}
  #M109 S245
  # Move the nozzle very close to the bed
  G92 E0 ; Reset Extruder
  ## BED_MESH_PROFILE LOAD=default
  SET_GCODE_OFFSET Z={Z_OFFSET}
  G1 E{e} F3000
  G1 X20 Y2 Z0.3 F5000.0
  G1 X200  Y2 F1500.0 E15
  G1 X200  Y2.3 Z0.3 F5000.0
  G1 X5.3  Y2.3 Z0.3 F1500.0 E30
  G1 Z2 F3000
  G92 E0 ; Reset Extruder
#  M220 S{SPEED_PERC}
#  M221 S{FLOW_PERC}
  #M400
  G90 ; use absolute coordinates
  M83 ; use relative distances for extrusion

[gcode_macro END_PRINT]
gcode:
  SAFE_Z_PARK
  TURN_OFF_HEATERS
  G90 ; Absolute positioning
  M82 ; Absolute extrusion
  G1 X0 Y250 F3000; Present the print
  M106 S0 ; Turn off fan
  M107 ; turn off fan
  M84 E ; Disable all steppers but Z
#--------------------------------------------------------------------
[gcode_macro SAFE_Z_PARK]
gcode:
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set e = params.E|default(3-0.0) %} #edit to your retract length
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 5.2) %}
    {% set z_safe = 5.0 %}
  {% else %}
    {% set z_safe = max_z - act_z - 0.2 %}
  {% endif %}
  G91 ; Relative positioning
  G1 E{e} Z0.2 F3000 ; Retract and raise Z
  G1 Z{z_safe} F900 ; Raise Z more

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
default_parameter_X: 230
default_parameter_Y: 230
default_parameter_Z: 10
gcode:
  SAFE_PARK_Z
  # M141 S0
  M106 S0
  TURN_OFF_HEATERS
  CLEAR_PAUSE
  RESET_SD
  BASE_CANCEL_PRINT

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  SAVE_GCODE_STATE NAME=PAUSE_state
  BASE_PAUSE
  SAFE_PARK_Z
  G90
  G0 X{x_park} Y{y_park} F6000
  G91

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
  {% set e = params.E|default(3-0.1) %} #edit to your retract length
  G91
  G1 E{e} F2100 ; default 2.9mm feed length
  G91
  RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
  BASE_RESUME

[gcode_macro DISABLE_MOTORS]
gcode:
  M18

[gcode_macro M600]
gcode:
  SAVE_GCODE_STATE NAME=M600_state
  PAUSE
  RESTORE_GCODE_STATE NAME=M600_state
