[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_0CF0FF0F48104AAF82AA675DC32000F5-if00

[printer]
#kinematics: limited_corexz
kinematics: corexz
#max_x_velocity: 400
#max_y_velocity: 300
max_velocity: 500 # hypotoneuse of the above two values
max_accel: 5000   # Y-limited (MZV@37.2); X allows 6680 (EI@60.0)
#max_x_accel: 8800 # from IS
#max_y_accel: 4700 # from IS
#scale_xy_accel: True # take lower of the axis accel
minimum_cruise_ratio: 0.5
max_z_velocity: 200 # arbitrary value
max_z_accel: 4400   # arbitrary value (must be less than max_accel)
square_corner_velocity: 8.0
# from vibration analysis
# speeds 2 <-> 80; 146 <-> 155; 196 <-> 205 mm/s

[include nozzle-adxl.cfg]

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

[stepper_x]
enable_pin: !P2.1
step_pin: P2.2
dir_pin: P2.6
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
# IGUS Chain hits belts when at 252 endstop length at 5mm; therefore reduce width for reliability
# set X max to 235 in the slicer
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_min: -10
position_max: 252
homing_speed: 60
homing_positive_dir: false

[tmc2209 stepper_x]
diag_pin: ^P1.29
uart_pin: P1.17
interpolate: True
run_current: 0.9
home_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_y]
enable_pin: !P2.8
step_pin: P0.19
dir_pin: !P0.20
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 235
position_min: -10
position_max: 235        #  210 in the slicer
homing_speed: 50
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: P1.15
interpolate: True
run_current: 0.9
home_current: 0.7
sense_resistor: 0.110
diag_pin: ^P1.27
#driver_SGTHRS: 130 ; overridden in autotune.cfg
stealthchop_threshold: 0

[stepper_z]
enable_pin: !P0.21
step_pin: P0.22
dir_pin: P2.11 # remove ! to change direction
rotation_distance: 40
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 230
position_min: -20
homing_speed: 100
second_homing_speed: 10 # lower is more accurate and repeatable

[tmc2209 stepper_z]
uart_pin: P1.10
interpolate: True
run_current: 0.9
home_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

[screws_tilt_adjust]
# SW Nylock Mod: Screw 1 uses the 6mm metallic spacer so its
# height is considered the baseline. For tilt adjust using the
# command SCREWS_TILT_CALCULATE, this has to be your Screw 1:
#
#         ******************
#         * S7    S8    S9 *
#         *                *
#   Bed:  * S5    S1    S6 *
#         *                *
#         * S2    S3    S4 *
#         ******************
#
# one would determine the nozzle coordinates such that the Z probe is above the screws
screw1_name: center
screw1: 128,98
screw2_name: front_left
screw2: 20,-10
screw3_name: front_center
screw3: 133,-9
screw4_name: front_right
screw4: 238,-7
screw5_name: middle_left
screw5: 19,97
screw6_name: middle_right
screw6: 233,97
screw7_name: rear_left
screw7: 18,201
screw8_name: rear_center
screw8: 128,201.5
screw9_name: rear_right
screw9: 235,201
horizontal_move_z: 10.
speed: 150.
screw_thread: CCW-M3

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.23
#max_power: 1.0
min_temp: 0
max_temp: 120
control: pid
pid_kp: 129.90
pid_ki:   7.17
pid_kd: 345.00

[shaketune]
keep_raw_data: True

[input_shaper]
shaper_freq_x: 60.0
shaper_type_x: ei
damping_ratio_x: 0.088
shaper_freq_y: 37.2
shaper_type_y: mzv
# shaper_freq_y: 49.6
# shaper_type_y: ei
damping_ratio_y: 0.068

[include sensorless.cfg]
[include eddy.cfg]
[include sb2209.cfg]

[idle_timeout]
timeout: 1800

[gcode_arcs]
resolution: 0.1

[display_status]
[virtual_sdcard]
path: ~/gcode_files

[pause_resume]
recover_velocity: 50.

[include menus.cfg]
[include macros.cfg]
[include temp.cfg]
[include pa_calibration.cfg]
[include autotune.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [pid_profile extruder DEFAULT]
#*# pid_version = 1
#*# control = pid
#*# pid_kp = 12.398
#*# pid_ki = 0.566
#*# pid_kd = 67.877
#*#
#*# [pid_profile extruder 200]
#*# pid_version = 1
#*# control = pid
#*# pid_kp = 12.398
#*# pid_ki = 0.566
#*# pid_kd = 67.877
#*#
#*# [pid_profile extruder 220]
#*# pid_version = 1
#*# control = pid
#*# pid_kp = 12.819
#*# pid_ki = 0.609
#*# pid_kd = 67.459
#*#
#*# [pid_profile extruder 240]
#*# pid_version = 1
#*# control = pid
#*# pid_kp = 12.740
#*# pid_ki = 0.604
#*# pid_kd = 67.122
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.134061, -0.032052, 0.038268, 0.060361, 0.074854, 0.098594, 0.152468, 0.271632, 0.284671
#*# 	-0.064161, 0.003744, 0.053775, 0.077517, 0.087687, 0.112467, 0.155839, 0.277244, 0.303933
#*# 	-0.048570, 0.013315, 0.064359, 0.079006, 0.086491, 0.120549, 0.173267, 0.306169, 0.359704
#*# 	-0.028453, 0.038284, 0.081055, 0.092651, 0.101809, 0.134717, 0.195040, 0.333823, 0.386243
#*# 	0.003780, 0.068001, 0.108475, 0.113734, 0.113886, 0.166388, 0.221715, 0.362890, 0.395637
#*# 	0.059385, 0.119404, 0.143901, 0.154761, 0.158969, 0.204180, 0.265229, 0.396626, 0.425873
#*# 	0.123320, 0.172961, 0.188108, 0.196637, 0.219163, 0.259192, 0.321810, 0.463539, 0.488758
#*# 	0.182577, 0.230370, 0.246051, 0.255160, 0.273593, 0.319035, 0.377043, 0.516717, 0.536084
#*# 	0.215122, 0.258638, 0.274100, 0.295987, 0.335686, 0.373677, 0.425881, 0.555272, 0.582967
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 234.96
#*# min_y = 21.0
#*# max_y = 205.0
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 16
#*# calibration_version = 5
#*# reg_drive_current = 16
#*# tap_drive_current = 16
#*# calibration_16 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUKQUzqXW+fU/DmF0fcvy/T8WA7MR9PzjP68Hn5FY/MA/4Hez+d5o7D8JJYhE8bDyP5iFmXBGL/C/9ry7vOV99b88MHYsPyXkP1FWAJ6C+eQ/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQzobV5FG8lD4FZdkKxveUPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQUZiVi/QyG0C0tfwxLLkJQEYuXhWdw/s/1WFsEqekCkC354GPSG/vPyxCU6jLgh7AozpXF/OR2b85DDHYc80lQNOy8/0+tuc/stcukWUDEsCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEF5UfcTV9ZQ+p/ejjngElT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1DgWe4eduiUPhy+46TyVhg+Y6OVBR9tDL70qWOiiNr2PXA/prOV+PE99091ufgKxL31XiIl12EBvs68laD1WLO9lfEogThV8D3TkOwalTfDPZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQALyES7LwjD9eSLd8X/sTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/jPCyS4S8AEdALf+JVziyG2WMB2ZfcmFuZ2WUXZQoR0FIXFZfAogAR0FIsRoijTAAZYwCZGOUSxB1Lg==
